@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}

@layer base {
    body {
        @apply bg-zinc-950 text-neutral-200;
        padding: 0 1rem;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 2rem;
        justify-items: center;
    }

    footer {
        width: 100%;
        background-color: #102A43;
        padding: 1rem 0;
        margin: 0;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    footer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, transparent 80%);
        opacity: 0.1;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease-out;
    }

    footer:hover::before {
        transform: translate(0, 0);
        opacity: 0.2;
    }

    footer a {
        color: #A8DADC;
        margin: 0 0.5rem;
        transition: color 0.3s ease;
    }

    footer a:hover {
        color: #F1FAEE;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
